@font-face 
{ 	font-family: "Raleway";
	src: url('Raleway/Raleway-VariableFont_wght.ttf'); 
}



body
{
	font-family: "Raleway";
	margin-left: 2rem;
}

a
{
	color: inherit;
}

a:link 
{ 
 	text-decoration:none; 
} 

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_logo
{
	width: 100px;
	margin-top: 1rem;
	display: flex;
	align-items: center;
}

header nav
{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	width: 30%;
	font-weight: 500;
}

nav a:hover
{
	color: #0065FC;
	padding: 32px;
	border-bottom: 3px transparent solid;
	border-top: 3px solid #0065FC;
	text-decoration: none;
	background-color: transparent;
}



.barre_rechercher
{
	width: auto;
	height: 50px;
	margin: 1rem;
}

.barre_rechercher
{
	background-color: #F2F2F2;
	font-size: 1rem;
	height: 10px;
	margin: 2rem 0 2rem 0 2rem;
}

.lieu
{
	font-weight: bold;
	border: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 0 1.5rem;
	width: 14rem;
	font-size: 1rem;
	height: 47px;
	padding: 1rem 1.25rem 1rem 1rem;
	margin-left: 1rem;
}

.bouton
{
	background-color: #0065FC;
	border: 3px solid #0065FC;
	font-weight: bold;
	color: white;
	font-size: 1rem;
	border-radius: 0 10px 10px 0;
	height: 50px;
	width: 150px;
	border-left: transparent;
}

.rechercher
{
	margin: 2rem 0 2rem 0;
}

.titre_rechercher
{
	
}

.trouver
{
	font-size: x-large;
}

.sous_titre_rechercher
{
	margin: 0rem;
}

.filtres_rechercher
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4rem;
}

.filtres_rechercher i
{
	color: #0065FC;
}

.filtres
{
	margin: 0 1.5rem 1rem 1rem;
	display: flex;
	align-items: center;
}


.filrech
{
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	margin-right: 2rem;
	margin-bottom: 1rem;
	font-weight: bold;
	padding-right: 1rem;
}

.logo_filtre
{
	border: solid 2px #DEEBFF;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
}

.filtre_texte
{
	display: flex;
	justify-content: center;
	padding-left: 0,5rem;
}



.info
{
	
	display: flex;
	align-items: center;
	margin: 0.5rem 0 1rem 0;

}

.logo_info
{
	border: solid 1px #d9d9d9;
	color: #0065FC;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	margin: 0 0 0 1rem;
}
.dispo_info
{
	margin: 1rem;
}



.hebergement_liste
{
	width: 90%;
}


.hebergements
{
	display: flex;
	flex-direction: row;
	width : 100%;
	height: 150%;
	padding: 0rem;
}

.hebergement_titre
{
	margin: 0rem;
}

.hb_mar
{
	font-family: "Raleway" ;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.hebergement_liste
{
	padding: 0.5rem;
	margin: 1rem;
}

.annonce_hebergements
{
	border: 5px solid white;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap ;
	width: 100%;
	height: 40%;
	margin: 0rem;
	background-color: #F2F2F2;
}

.image_hebergements
{
	height: 100px;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.lien_annonce
{
	background-color: white;
	width: 30%;
	height: 90%;
	border-radius: 20px;
	margin-top: 2rem;
	padding: 0.75rem;

}

.annonce
{
	margin: 0rem;
	padding: 0rem;
	background-color: white;
	border-radius: 20px;
	
}

figcaption
{
	color: black;
	margin: 0.5rem;
}

.note_hebergement
{
	color: #0065FC;
}


.populaires
{
	width: 35%;
	padding: 0.5rem;
	margin: 2rem;
}


.hebergement_populaire
{
	background-color: #F2F2F2;
	width: 100%;
	height: 90%;
	margin-top: 1.75rem;
}

.aside_pop
{
	padding: 0rem;
	margin: 0rem;
	border-radius: 20px;
	height: auto;
	width: 100%;
}
.grey-color
{
	color: #F2F2F2;
}



.annonce_populaire
{
	width: 75%;
	height: auto;
	
}

.populaire_img
{
	object-fit: cover;
	border-radius: 20px 0 0 20px;
	height: 100%;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	
}

.lien_populaire
{
	box-shadow: 0px 0px 3px #F2F2F2;
	width: auto;
	height: 30%;
	border-radius: 20px;
	display: flex;
	justify-content: row;
	margin: 1.5rem;
	background-color: white;
}

.texte_pop
{
	display: flex;
	flex-direction: column;
	font-size: small;
	margin: 1rem;
	width: 100%;
	height: 50%;
}

.info_populaire
{
	margin: 0rem;
}

.note_hebergements
{
	display: flex;
	justify-content: row;
	color: #0065FC;
}


.activites 
{
	width: 100%;
	height: 100%;
}	

.activite_titre
{
	
}

.annonce_activite
{
	display: flex;
	flex-direction: row;
justify-content: space-between;
align-content: space-between;
margin: 2rem;
}

.activite_image
{
	border-radius: 20px;
	margin: 0;
}
.lien_activite
{
	
}

.activite_image
{
	margin: 0.8rem 0 0.8rem 0;
}

.grande_image
{
	height: 350px;
	width: 288px;
	border-radius: 20px 20px 0 0;
}

.activite_1
{
	
}

.petite_image
{
	height: 150px;
	width: 329px;
	border-radius: 20px 20px 0 0;
	
}



footer
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
}

footer div
{
	width: 30%;
	padding: 2rem 2rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}

footer a
{
	margin-bottom: 0.5rem;
}